extends layout

block content
  nav.navbar.navbar-light.bg-light
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href=`/${user.id}`)
          img(src="/images/back.svg")
    .mx-auto.order-0
      a.navbar-brand.mx-auto(href='/')=user.ministryName
    ul.navbar-nav.ml-auto
  .container.mt-3
    h3=sermon.title
    h6.mb-2.text-muted=sermon.preachedOn
    if user.photoUrl
      img.mb-2(src=user.photoUrl)
    p=sermon.description
    p
      p.bibleReferences
        span Bible passages: &nbsp
        span
          a#bibleLink(href=sermon.bibleLink target="_blank")=sermon.bibleReferences
    p.audio
      audio#audioPlayer(controls=true)
        source(src=sermon.url,type=contentType)
    button#playButton.btn.btn-primary.mr-3(onclick="audioPlayer.play();") Play
    button#pauseButton.btn.btn-primary.mr-3(onclick="audioPlayer.pause();", style="display: none;") Pause
    a#downloadLink.btn.btn-block.btn-primary.mt-3(href=`/${user.id}/sermon/${sermon.id}/download`) Download
    button#shareButton.btn.btn-block.btn-primary.mt-3(style="display: none") Share
    if user.emailContactEnabled
      button#emailContactButton.btn.btn-block.btn-primary.mt-3 Email Pastor
    if user.phoneContactEnabled
      button#phoneContactButton.btn.btn-block.btn-primary.my-3 Call Pastor

    script.
      const sermonTitle = '#{sermon.title}'
      const sermonDescription = '#{sermon.description}'
      const ministryName = '#{user.ministryName}'
      const c1 = '#{user.email && user.email.split('').map(it=>it.charCodeAt(0)<<1)}'
      const c2 = '#{user.phoneNumber && user.phoneNumber.split('').map(it=>it.charCodeAt(0)<<1)}'
    script(src="/javascripts/sermon.js")